<div class="container">
    <div class="row">
        <div class="col-md-2">IBAN</div>
        <div class="col-md-10">
            NL
            <input type="text" ng-model="ibanControl" ng-minlength="0" ng-maxlength="2" width="2" ng-change="updateQr()">
            <select ng-model="bank" ng-change="selectBank()">
                <option ng-repeat="(k, v) in banks" value="{{k}}">{{k}}</option>
            </select>
            <input type="text" ng-model="ibanAccount" ng-minlength="2" ng-maxlength="16" width="10" ng-change="updateQr()">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-10"><span ng-if="bank">{{bankName}} - {{bankBic}}</span>&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2">Name</div>
        <div class="col-md-10"><input type="text" ng-model="name" ng-minlength="1" ng-maxlength="20" width="10" ng-change="updateQr()"></div>
    </div>
    <div class="row">
        <div class="col-md-2">Amount</div>
        <div class="col-md-10">EUR <input type="text" ng-model="amount" ng-minlength="1" ng-maxlength="10" width="10" ng-change="updateQr()"></div>
    </div>
    <div class="row">
        <div class="col-md-2">Description</div>
        <div class="col-md-10"><input type="text" ng-model="description" ng-minlength="1" ng-maxlength="30" width="10" ng-change="updateQr()"></div>
    </div>
    <div class="row">
        <div id="qrcode"></div>
    </div>

</div>


